/*Applies background color to everything within the HTML body*/
body {
  background-color: #F1F2ED;
}


/*Modifies image*/
/*Max-width prevents img from becoming pixelated on large screens*/
/*Display and margin attributes center img*/
#strawberry {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*#blank1, #blank2, #blank3, #blank4, #blank5, #blank6, #blank7, #blank8, #blank9, #blank10 {
  max-width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

/*Centers and adds space around text in row element*/
.row {
  text-align: center;
  margin: auto;
  padding: auto;
  font-size: 1.5em;
}
/*Centers text in h1, h2, and byLine class elements*/
h1, h2, .byLine {
  text-align: center;
}
/*Failed attempt to create fixed navBar*/
/*While the navBar did stay fixed at top of screen, changing the margins did not center it as desired*/
/*#navBar {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}*/
/*Media Querry changes width of container-fluid elements to 50% of viewport when screen has a min width of 991.98px*/
@media (min-width: 991.98px) {.container-fluid {
  margin: auto;
  padding: auto;
  width: 50%;
  height: auto;
  }
}
/*Media querry changes width of container-fluid element to 85% of viewport when screen width is below 767.98px*/
@media (max-width: 767.98px) {
  .container-fluid {
    margin: auto;
    padding: auto;
    width: 85%;
    height: auto;
  }
}
/*Media querry changes widht of container-fluid element to 90% of viewport when screen width is below 575.98px*/
@media (max-width: 575.98px) {
  .container-fluid {
    margin: auto;
    padding: auto;
    width: 90%;
    height: auto;
  }
}
#tossIt, #missingPerson, #sendIt, #digMore, #replayButton, #tossText, #emailText, #replayButton, #replayStory, #nameField, #btnSubmit, #digText, #startButton {
  display: block;
  margin: auto;
  padding: auto;
}

#backForward {
  display: none;
}
#nextButton, #previousButton {
  display: inline-block;
  margin: auto;
  padding: auto;
}
#storyBody2, #storyBodyB, #storyBody3, #storyBodyC, #storyBody4, #goodBye, #sayWhat, #userEmail {
  display: none;
}
#userEmail {
  font-style: italic;
}
#memoryGrid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16%;
  padding-right: 20%;
}

#memoryOutro, #galleryText {
  text-align: center;
}

.galleryImages {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rocketShip {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 120px;

}

#nightStars img {
  height: auto;
  width: 100%;
}
